.aboutus{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.aboutus h1{
    text-align: center;
}
.aboutus p{
    width: 70%;
    margin: auto;
    font-size: 18px;
}
.about-img{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
}
.about-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:768px){
    .aboutus p{
        width: 100%;
        font-size: 18px;
    }
}