.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    z-index: -10;
  }
  .showanimated{
    display: block;
  }
  .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.8;
    animation: float 10s infinite;
  }
  .parti2{
    background: #a8edea;
  }
  @keyframes float {
    0% {
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(20vh) translateX(0vw);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }

  
  .particle:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(2) {
    top: 50%;
    left: 30%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(3) {
    top: 70%;
    left: 60%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(4) {
    top: 80%;
    left: 80%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(5) {
    top: 40%;
    left: 90%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(6) {
    top: 10%;
    left: 50%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(7) {
    top: 60%;
    left: 10%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(8) {
    top: 20%;
    left: 80%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(9) {
    top: 30%;
    left: 40%;
    animation-delay: 0s;
  }
  
  .particle:nth-child(10) {
    top: 90%;
    left: 10%;
    animation-delay: 0s;
  }
  .particle:nth-child(11) {
    top: 50%;
    left: 50%;
    animation-delay: 0s;
  }
  .particle:nth-child(12) {
    top: 90%;
    left: 70%;
    animation-delay: 0s;
  }
  .particle:nth-child(13) {
    top: 20%;
    left: 50%;
    animation-delay: 0s;
  }