@media (max-width:768px){
    .navbar{
        padding: 0;
        padding-top: 20px;
        position: relative;
        width: 90%;
    }
    .banner{
        display: block;
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-top: 0px;
        color: #333333;
        padding: 0;
   
    }
    .links{
        display: none;
        position: fixed;
        top: 0;
        right: -250px;
        background-color: #8af5ef;
        transition: right 0.3s ease-in-out;
        z-index: 1000;;
        width: 60%;
    }
   
    .links.showlinks{
      right: 0;
      display: block;
      padding: 10px;
      height: 100vh;
    }
    .link{
        margin-top: 20px;
        font-size: 24px;
        text-align: right;
        margin-right: 30px;   
    }

    
    .link a{
        text-decoration: none;
        font-weight: 500;
    }
    .menu{
        display: block;
    }
    .menu-switch{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .close{
        display: block;
        width: 40px;
        height: 40px;
    }
    .close img{
        width: 100%;
    }
    .intro{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        margin-top: 30px;
      }
      .intro-text{
        width: 100%;
      }
      .intro-text h1{
        margin-bottom: 20px;
      }
     
    .intro-image{
          width: 90%;
          margin: auto;
      }
      .cta-btn{
        margin-top: 20px;
    }
    .cta-btn a{
        font-size: 20px;
        
      }
      .intro-image img{
        width: 100%;
      }
      .overview-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        width: 90%;
        margin: auto;
      }
      .overview-item{
        background-color: transparent;

      }
      .allabout{
        width: 100%;
        margin: auto;
        margin-top: 30px;
      }
       
      .services-overview{
        width: 90%;
      }
      .allabout.dark-mode{
        background-image: url(./images/blob-scene-haikei.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .allabout-intro{
        text-align: center;
        width: 90%;
        margin: auto;
      }
      .benefits{
        width: 100%;
        margin-top: 100px;
      }
      .benefitsgrid{
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: auto;
        margin-top: 30px;
      }
      .benefits h2{
        width: 90%;
        margin: auto;
      }
      .benefit{
        margin-bottom: 20px;
      }

      .portfoliogrid{
        grid-template-columns: repeat(1,1fr);
      }

      .pricegrid{
        grid-template-columns: repeat(1,1fr);
        width: 96%;
        padding: 20px;
        margin: auto;
      }
      .priceitem.dark-mode{
       background-color: transparent;
       border: 1px solid #333333;
       margin-bottom: 30px;
      }
      .footer-container {
       flex-direction: column;
        width: 90%;
      }
      
      .quick-links{
        display: none;
      }
      .footer-section ul li {
        margin:0;
      }
      #quoteForm{
        width: 100%;
        margin: auto;
      }
      .teamgrid{
        grid-template-columns: repeat(1,1fr);
      }
      .member-img img{
        width: 100%;
    }
    .member p{
      width: 90%;
  }
}